* {
  margin: 0;
  padding: 0;
}
html, body, .app-wrapper {
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #6495ED;
}